/* -- STYLE SLIDESHOW -- */

.slideshow {
    display: flex;
    height: 415px;
  
}
  
.slidefunction {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 415px;
}
  
.arrows {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 415px;
}
  
.arrowbutton {
    background: none;
    border: none;
    cursor: pointer;
}
  
.pictureslide {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
  
.counter {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 25px 0;
}


/* -- MEDIA QUERIES -- */

@media screen and (max-width:1024px)
{
    .slideshow {
        height: 350px;
    }
      
    .slidefunction {
        height: 350px;
    }
      
    .arrows {
        height: 350px;
    }

    .arrows img {
        width: 32px;
    }

    .counter {
        font-size: 14px;
        margin: 0 0 20px 0;
    }

}

@media screen and (max-width:768px)
{
    .slideshow {
        height: 255px;
    }
      
    .slidefunction {
        height: 255px;
    }
      
    .arrows {
        height: 255px;
    }

    .arrows img {
        width: 12px;
    }

    .counter {
        opacity: 0;
    }

}