/* -- STYLE ABOUT -- */

.article {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
}


/* -- MEDIA QUERIES -- */

@media screen and (max-width:768px)
{
    .article {
        width: 100%;
        margin: 0;
    }

}