/* -- STYLE COLLAPSE -- */

.Collapse-visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    background: #ff6060;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    color: #ffffff;
    cursor: pointer;
}
  
.uparrow {
    transform: rotate(180deg);
}
  
.downarrow {
    transform: rotate(0deg);
}
  
.Collapse-visible h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
}
  
.Collapse-toggle {
    opacity: 0;
    background: #f7f7f7;
    transition: opacity 100ms ease-in-out, height 100ms 100ms ease-in-out;
    height: 0px;
    visibility: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
}
  
.Animation {
    height: min-content;
    opacity: 1;
    transition: height 100ms ease-in-out, opacity 100ms 100ms ease-in-out;
    visibility: visible;
}
  
.Collapse-toggle p {
    font-size: 24px;
    font-weight: 400;
    color: #ff6060;
    line-height: 34px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 36px;
    padding-bottom: 15px;
    margin: 0;
}


/* -- MEDIA QUERIES -- */

@media screen and (max-width:768px)
{
    .Collapse-visible {
        height: 30px;
    }

    .uparrow {
        width: 15px;
    }

    .downarrow {
        width: 15px;
    }

    .Collapse-visible h2 {
        font-size: 13px;
    }

    .Collapse-toggle {
        margin-bottom: 20px;
    }

    .Collapse-toggle p {
        font-size: 12px;
        line-height: 17px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

}