/* -- STYLE HEADER -- */

header {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 5%;  
}
  
nav {
    flex-direction: row;
    justify-content: flex-end;
}
  
nav a {
    font-size: 24px;
    text-decoration: none;
    color: #ff6060;
    margin-left: 60px;
}
  
.activeLink {
    border-bottom: 2px solid;
}


/* -- MEDIA QUERIES -- */

@media screen and (max-width:768px)
{   
    header {
        margin-top: 20px;
    }

    nav a {
        font-size: 12px;
        text-transform : uppercase;
        margin-left: 10px;
    }

    .activeLink {
        border-bottom: 1px solid;
    }

    .logo img {
        width: 145px;
    }

}