/* -- STYLE ERROR -- */

.error {
    text-align: center;
}
  
.error h1 {
    font-size: 288px;
    color: #ff6060;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
}
  
.error p {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
}
  
.error .homeLink {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 150px;
    margin-bottom: 100px;
    text-decoration: underline;
    cursor: pointer;
}


/* -- MEDIA QUERIES -- */

@media screen and (min-width:768px) and (max-width: 1024px)
{
    .error h1 {
        font-size: 192px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .error p {
        font-size: 24px;
    }

    .error .homeLink {
        font-size: 16px;
        margin-top: 75px;
   }

}

@media screen and (max-width:768px)
{ 
    .error h1 {
        font-size: 96px;
        margin-bottom: 10px;
    }

    .error p {
        font-size: 18px;
        margin: 0 8% 0 8%;
    }

    .error .homeLink {
        font-size: 14px;
        margin: 100 0 100 0;
    }
}